/**
 * @name Visual Refresh Revamp
 * @description Smooth and Better New UI.
 * @author 2uev
 * @authorId 979689352848355358
 * @version 1.0
 */
 
@import url(https://blade04208.github.io/ddex4/import.css);
@import url(https://blade04208.github.io/ddex4/src/bubbles.css);
@import url(https://blade04208.github.io/ddex4/src/profilechanges.css);
@import url(https://blade04208.github.io/ddex4/src/oneline-chatbox.css);
:root {
  /*  DDEX4 has background support! just uncomment and change the below
      URL to any color **OR** tiling image and it will be applied to the background  */
  /* --bg-base-tertiary: url(https://1-background.com/images/stars-1/stars-background-purple.jpg) !important; */

   --show-memberlist-rpc: none;          /* set "none" to "block" to show status in the memberlist */
   --userbanner-blur: 20px;              /* set to 0 to remove blur on banners */
}
.theme-dark {
  --msgbg: var(--brand-500);             /* BG for own messages,         dark mode */
  --msghv: var(--brand-600);             /* hover BG for own messages,   dark mode */
  --msgfg: #ffffff;                      /* text color for own messages, dark mode */
}
.theme-light {
  --msgbg: var(--brand-400);             /* BG for own messages,         light mode */
  --msghv: var(--brand-500);             /* hover BG for own messages,   light mode */
  --msgfg: var(--brand-1000);            /* text color for own messages, light mode */
}
.panels_c48ade {
  height: 62px;
  width: 62px!important;
 display: flex!important;
 flex-direction: column;
 overflow: hidden;
 transition: width 0.3s;
  z-index: 50000;
  pointer-events: all;
  border: 1px solid var(--border-subtle)!important;
 &:has(.container_e131a9) {
  background-color: var(--notice-background-positive);
  border: 1px solid var(--border-normal);
 }
}

.wrapper_e131a9 {
  height: 0;
  overflow: hidden;
   transition: height 0.5s;
}
.panels_c48ade:hover {
  width: 100%!important;
  width: 300px!important;
  height: auto!important;
  .wrapper_e131a9 {
    height: auto!important;
  }
}
.sidebar_c48ade {
  overflow: visible!important;
}
.container__2637a {
  padding-bottom: 0px!important;
}
.scroller__99e7c {
  margin-bottom: 0px!important;
}

.bottom__7aaec {
  bottom: 0px!important;
}
[class*='base_'] > [class*='content_'] {
    margin: 0 10px 10px 0;

    [class*='page_'] {
        border: 1px solid var(--app-border-frame);
        border-left: none;
        border-radius: 0 var(--radius-md) var(--radius-md) 0;
    }

    [class*='sidebar_'] {
        &::after {
            display: none;
        }

        [class*='sidebarList_'] {
            border-bottom: 1px solid var(--app-border-frame);
            border-bottom-left-radius: var(--radius-md);
        }
    }

    [class*='chat_'] {
        border-top: none !important;
    }
}
